body {
    background:cadetblue; 
    color:white;
    font-size: 16px;
  }
   
   
  button:focus {
      outline: 0;
  }
   
  .mycontainer {
      max-width: 500px;
      margin: auto;
      padding: 160px 100px;
      text-align: center;
  }
   
   
  .mywebapp {
      margin: 19px auto;
  }
   
  #textbox {
      margin: 20px 0;
  }
   
  @media (max-width: 750px) {

      .mycontainer {
          width: 87vw;
          max-width: 87vw;
      }
   
      button {
          margin-bottom: 10px;
      }
  }